<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Contact</title>
</head>
<body>
    <%- include('./partials/header') %>
    <%- include('./partials/nav') %> 
    <h2>Contact Us!</h2>

    <div>
        <% for (let user of users) { %>
            <h3><%= user.displayName %></h3>
            <p>Email: <%= user.email %></p>
        <% } %>
    </div>

</body>
</html>