<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="css/gallery.css">
    <title>Blog Home</title>
</head>
<body>
    <%- include('./partials/header') %> 
    <%- include('./partials/nav') %>
    <main>
        <div class="gallery box">
            <% for (let image of images) { %>
            <a href="/blog/<%= image.post[0] %>"><img src="<%= image.url %>" alt=""></a>
        <%  } %> 
        </div>
        <div class="hero box">
            <article>
            <% if (post) { %> 
            <a href="/blog/<%= post._id %>"><h3><%= post.title %></h3></a>
            <h6>By: <%#= post.author.displayName %> </h6>
            <p><%= post.body %> </p>
            <% } %>
         </article>
        </div>
    </main>

    <%- include('./partials/footers') %>
</body>
</html>