<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>
<body>
    <p><%= user.displayName %></p>
    <p>Username: <%= user.username %></p>
    <a href="./<%= user._id %>/edit">Edit</a>
    <a href="/">Home</a>

    <a href="/blog/<%= user._id %>/new"><button>New Blog Post</button></a>






    <form action="./<%= user._id %>/?_method=DELETE" method="POST">
        <button type="submit">Delete Profile?</button>
    </form>

</body>
</html>