<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %> 
    <title>Gallery</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <h1>Gallery</h1>
        <div class="gallery">
            <% for (let i = 0; i < posts.length; i++) { %>
                <div>
                    <p><a href="/users/<%= posts[i].author %>">Original Post</a></p>
                    <% for (let j = 0; j < posts[i].images.length; j++) { %>
                        <img src="<%= posts[i].images[j] %>" alt="<%= posts[i].captions[j] %>"> 
                    <% } %>
                    
                </div>
            <% } %>
        </div>
    </main>
    
    

</body>
</html>