<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/gallery.css">
    <title>Gallery</title>
</head>
<body>
    <%- include('../partials/header') %>

        <h1>Gallery</h1>
        <div class="gallery">
            <% for (let i = 0; i < posts.length; i++) { %>
                    <% for (let j = 0; j < posts[i].images.length; j++) { %>
                        <a href="/users/<%= posts[i].author %>"><img src="<%= posts[i].images[j] %>" alt="<%= posts[i].captions[j] %>"></a> 
                    <% } %>
            <% } %>
        </div>
</body>
</html>